$body-color: #eeeeec;
$main-color: #fff;
$--white: #d1d5da;
$--color-text-primary: #1b1f23;
$--color-bg-canvas-inverse: #24292e;
$--color-boder-bottom-main: #D1D601;
$--color-boder-bottom-secondary: #d4d4d4;
$errorBackgroundColor: #fadede;
$errorBorder: 1px solid #cfb2b2;